body,
#q-app {
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: bold;
  font-style: italic;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  text-align: center;
  font-size: medium;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: #00000099;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.gradient-options {
  flex: 1;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.gradient-type {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.gradient-type > button {
  margin: 0 5px;
}

.slider {
  align-self: center;
  width: 90%;
  min-height: 20px;
  border-radius: 10px;
  outline: 1.5px solid #1e1e5e;
  outline-offset: 2px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.slider-item {
  border: 1.5px solid #1e1e5e;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  padding: 2.5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.slider-item:hover {
  scale: 1.1;
}

.slider-item > div {
  height: 25px;
  width: 5px;
  outline: 1px solid #1e1e5e;
  border-radius: 5px;
}

.gradient-preview {
  min-height: 175px;
  background: #00000022;
}

.container {
  margin: 0px 10px;
}

.gradient-code {
  padding: 20px 10px;
  text-align: center;
  background-color: #1e1e5e;
  color: white;
  border-radius: 5px;
  outline: 1px solid white;
  outline-offset: -5px;
  font-size: small;
  font-family: monospace;
}

.color-items {
  margin-bottom: 15px;
  border: 1.25px solid #1e1e1e33;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
}

.color-item {
  display: flex;
  align-items: center;
}

.color-item > * {
  margin: 5px;
}

.color-value {
  flex: 1;
  text-align: center;
  font-weight: 500;
}

.color-position {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.color-position:focus-within {
  outline: 1.5px solid black;
}

.color-position > input {
  border: none;
  outline: none;
  text-align: right;
}

.color-position > input::-webkit-outer-spin-button,
.color-position > input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.add-color {
  display: flex;
  justify-content: center;
}

.color-position > input {
  margin-right: 5px;
}

.gradient-direction {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
